<h1>{{this.data.product.nombre}}</h1>
<p>Precio: ${{this.data.product.precio}}</p>
<p>Stock disponible: {{this.data.product.stock}}</p>
<p>Descripcion del producto: {{this.data.product.descripcion}}</p>
 <button>Comprar</button>